<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    Team Name: <%= @team_name%>
    Team Motto: <%= @team_motto%>
    Hero Name: <%= @team_member_1_name%>
    Hero Power: <%= @team_member_1_power%>
    Hero Biography: <%= @team_member_1_bio%>
    Hero Name: <%= @team_member_2_name%>
    Hero Power: <%= @team_member_2_power%>
    Hero Biography: <%= @team_member_2_bio%>
    Hero Name: <%= @team_member_3_name%>
    Hero Power: <%= @team_member_3_power%>
    Hero Biography: <%= @team_member_3_bio%>

  </body>
</html>
